<%= form_for @movie, :html => { :class => "form-horizontal movie",multipart:true } do |f| %>

  <% if @movie.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
      <%=f.error_span(:name) %>
    </div>
    
  </div>
  <div class="form-group">
    <%= f.label :language, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :language, :class => 'form-control' %>
      <%=f.error_span(:language) %>
    </div>
    
  </div>
  <div class="form-group">
    <%= f.label :mpr,"MPR", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :mpr, :class => 'form-control' %>
      <%=f.error_span(:mpr) %>
    </div>
    
  </div>
  <div class="form-group">
    <%= f.label :review, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :review, :class => 'form-control' %>
      <%=f.error_span(:review) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :poster, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :poster, :class => 'filestyle' %>
      <%=f.error_span(:poster) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                movies_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<style type="text/css">
  .form-group
  {
    width:75%;
  }
</style>