
<%- model_class = Movie -%>
<div class="jumbotron">
  <h1>I Write Reviews For Awesome Movies!</h1>
  <p> Basically I’m a professional web programmer. My programming focus is Ruby On Rails and all web development. I'm also a Cricketer. Coding is my passion and first love.Writing reviews is for fun!!</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<% if user_signed_in? %>
  <%= link_to t('.new', :default => t("helpers.links.new")),new_movie_path,:class => 'btn btn-primary' %>
<% end %>
<table class="table table-hover table-condensed nowrap">
  <thead class="thead-inverse">
    <tr>
      <th>Movie</th>
      <th><%= model_class.human_attribute_name(:language) %></th>
      <th>MPR</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= image_tag movie.poster_url,:width => 50, :height => 75 %>
         <b><%= link_to movie.name.to_s, movie %></b><br>
         <% if user_signed_in? %>
          <%= link_to '', edit_movie_path(movie),:class=>"ion-edit" %>
          <%= link_to '', movie, method: :delete, 
          data: { confirm: 'Ahem!! Do you want to do this?',
                  :'confirm-button-text' => 'Yep!!',
                  :'cancel-button-text' => 'No!!',
                  :'confirm-button-color' => 'orange',
                  :'sweet-alert-type' => 'warning',
                  text: "Beware,You can't undo this later!!",
                  } ,:class=>"ion-android-remove-circle"%>
        <% end %>
        </td>
        <td><%= movie.language %></td>
        <td><%= movie.mpr %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<style type="text/css">

</style>