<%- model_class = Movie -%>
<div class="page-header">
  <div class="title"><%= @movie.name %></div>
  <p><%= @movie.language %>,<%= @movie.mpr %> Rated</p>
</div>

<div class="dl-horizontal">
  <div class="poster"><%= image_tag @movie.poster_url,:width => 270, :height => 450,:class=>"img-rounded img-responsive"%></div><br>
  <div class="text-justify"><%= @movie.review %></div>
  <b><div class="star" data-score=<%=@avg_rating %>>Average User Rating out of <%= @total_feedbacks %> Feedbacks: </div></b>
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
              movies_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_movie_path(@movie), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              movie_path(@movie),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<a href="/movies/<%=@movie.id%>/feedbacks/new" class="btn btn-default">Comment</a>
<p><%= render "feedbacks/form" %></p>
<h1>User Comments:</h1>
<% @feedbacks.each do |feedback| %>
<blockquote class="blockquote"
  <strong><p><%= feedback.name %></strong> <div class="star" data-score=<%=feedback.rating %>></div></p>
  <p><%= feedback.comment %></p>
  <hr>
</blockquote>
<br><br>
<% end %>

<style type="text/css">
  .poster
  {
    float: left;
    padding: 30px 30px 30px 30px;
  }
  .page-header
  {
    font-size: 20px;
    text-align: center;
  }
  .title
  {
    font-size: 30px !important;
  }
  .text-justify
  {
    margin: 5px;
  }
</style>

<script type="text/javascript">
  $('.star').raty({path:"/assets",score: function() {
    return $(this).attr('data-score');
  }});
</script>