<div class="login">
<div class="form-group col-xs-8">
<h2>Log in</h2>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group col-xs-8">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true ,:class=>"form-control",:placeholder=>"Email"%>
  </div>

  <div class="form-group col-xs-8">
    <%= f.label :password %>
    <%= f.password_field :password, autofocus: true ,:class=>"form-control",:placeholder=>"Password"%>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox form-group col-xs-8">
      <label>
        <%= f.check_box :remember_me %> Check me out
      </label>
    </div>
  <% end -%>

  <div class="form-group col-xs-8">
    <%= f.submit "Log in",:class=>"btn btn-primary" %>
  </div>
  
<% end %>

  <div class="form-group col-xs-8">
    <%= render "devise/shared/links" %>
  </div>
 </div> 

 <style type="text/css">
  .login
  {
    margin-left: 30px;
  }
 </style>
