<%= simple_form_for([@movie, @movie.feedbacks.build]) do |f| %>
 <!-- <% if @feedback.try(:errors)%>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this Comment from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> -->

  <div class="form-group col-xs-8">
    <%= f.label :name,"My Name" %>
    <%= f.text_field :name,:class=>"form-control" %>
  </div>
  <div class="form-group col-xs-8">
    <%= f.label :rating %>
    <%= f.number_field :rating,:class=>"form-control" %>
    <%=f.error_span(:rating) %>
  </div>
  <div class="form-group col-xs-8">
    <%= f.label :comment %>
    <%= f.text_area :comment,:class=>"form-control" %>
  </div>
  <div class="form-group col-xs-8">
    <%= f.submit "Comment",class:"btn btn-default"%> <%= link_to 'Back', @movie,class:"btn btn-danger" %>
  </div>
<% end %>
