@import 'bootstrap/glyphicons';

.ion-edit
{
	color:blue;
	font-size:20px;
    padding-right: 20px;
    padding-left: 20px;
}

.ion-eye
{
	color:green;
	font-size:20px;
    padding-right: 20px;
    padding-left: 20px;
}

.ion-android-remove-circle
{
	color:red;
	font-size:20px;
    padding-right: 20px;
    padding-left: 20px;
}