<!DOCTYPE html>
<html>
<head>
  <title>Abhi Reviews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
	<%= render "shared/header" %>
	<% if flash[:error] %>
  		<div class="alert alert-warning capitalize">
   			<%= flash[:error] %>
  		</div>
	<% end %>

	<% if flash.any? %>
  		<div class="alert alert-success capitalize">
    		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    		<center><%= flash[flash.keys.first] %></center>
  		</div>
	<% end %>
<div class="main-content">
	<%= yield %>
</div>
	<footer>
    <center><bold><p>© 2015-2016 <a href="http://www.abhilash.space">Abhilash Reddy </a></p></bold></center>
	</footer>
</body>
</html>
 <style type="text/css">
	.capitalize 
  {
    text-transform: capitalize;
  }

  .btn
  {
    margin:5px 5px 5px 5px;
  }

  .main-content
  {
    min-height: 550px;
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap --> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>